@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  --black: #000000;
  --ash-black: #222;
  --white: #fafafa;
  --offwhite: #e7e7e7;
  --sky: #00ccff;
  --green: #22dddd;
  --blue: #1300ff;
  --dusk: #6600ff;
  --purple: #9900ff;
  --pink: #ff0066;
  --red: #fe0222;
  --orange: #fd7702;
  --yellow: #ffbb00;
  --text-select: rgb(255, 191, 0);
  --background: var(--offwhite);
  --accent: var(--white);
  --text-select-font: white;
  margin: 0;
  padding: 0;
  background-color: var(--background);
  font-family: "poppins";
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

::-moz-selection {
  background-color: var(--text-select);
  color: var(--text-select-font);
}
::selection {
  background-color: var(--text-select);
  color: var(--text-select-font);
}
::-webkit-selection {
  background-color: var(--text-select);
  color: var(--text-select-font);
}
